extends layout
block content
  h1= title
  if (toShow == null)
    h2(class="instance") No instance to update
  else
    - let bookid = toShow._id
    - let booktitle = toShow.booktitle
    - let author = toShow.author
    - let publishedYear = toShow.publishedYear
    div.row(class='mb-2')
      div.mr-1 ID is
        div #{bookid}
          - let actionid = "/resource/books/" + bookid
          form(id='BookForm', action= actionid, method="PUT")
            div.form-group
              label.bookAttr(for='booktitle') Book Title
              input#booktitle(type='text', name='booktitle', value= booktitle )
            div.form-group
              label.bookAttr(for='author') Book Author
              input#author(type='text', name='author', value= author )
            div.form-group
              label.bookAttr(for='publishedYear') Book publishedYear
              input#cost(type='number', name='publishedYear', value= publishedYear )
            input(type="submit")
  script.
    document.forms['BookForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Update succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Update failed " + error )
    });
    });