extends layout
block content
  h1= title
  if (toShow == null)
    h2(class="instance") No instance to Show
  else
    - let booktitle = toShow.booktitle
    - let author = toShow.author
    - let publishedYear = toShow.publishedYear
    div
      div.row
        div(class='bookAttr mr-3') Book title is:
        div #{booktitle}
      div.row
        div(class='bookAttr mr-3') Book Author is:
        div #{author}
      div.row
        div(class='bookAttr mr-3') Book Published Year is:
        div #{publishedYear}